<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="School Schedule Maker"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".Final_Activity"
            android:label="@string/title_activity_final_"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".IQActivity"
            android:label="@string/title_activity_final"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".TeachersActivity"
            android:label="@string/title_activity_teachers"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity
            android:name=".LessonsActivity"
            android:label="@string/title_activity_lessons"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>